<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="#" class="brand">Etena</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <form class="navbar-form pull-right">
          <input type="text" placeholder="Email" class="span2">
          <input type="password" placeholder="Password" class="span2">
          <button class="btn" type="submit">Sign in</button>
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="hero-unit">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "/images/banner_1.jpg" %>
        <div class="carousel-caption">
          <h4>To be filled</h4>
          <p>To be filled</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "/images/banner_2.jpg"%>
        <div class="carousel-caption">
          <h4>To be filled</h4>
          <p>To be filled</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "/images/banner_3.jpg" %>
        <div class="carousel-caption">
          <h4>To be filled</h4>
          <p>To be filled</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<div class="row fix_center">
<div class="span4">
  <h2>Diwali Celebrations</h2>

  <p>Partnered in the efforts of Sevakarangal to celebrate the festival with children from different NGO's. Contributed
    a modest amount of Rs.8000 towards buying crackers</p>

  <p><a href="#" class="btn">View details »</a></p>
</div>
<div class="span4">
  <h2>Christmas Celebrations</h2>

  <p>Partnered with Chennai Trekking Club at Saranalaya. Contributed a modest sum of Rs.1000 towards the purchase of
    gifts</p>

  <p><a href="#" class="btn">View details »</a></p>
</div>
<div class="span4">
  <h2>New Year Celebrations</h2>

  <p></p>

  <p><a href="#" class="btn">View details »</a></p>
</div>

</div>

